@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.background {
  background-color: #111828;
  width: 100vw;
  height: fit-content;
}

.gears {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $color-grey-700;
  padding: 1rem 1rem 2rem 1rem;
  @include desktop {
    padding: 3rem 5rem 10rem 5rem;
  }
  gap: 2rem;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;

  &__intro {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-700;
    color: $color-blue-100;
    gap: 1.5rem;
    padding: 1rem 0.5rem;
    border-radius: 5px;
  }
  &__intro-heading {
    font-size: 2rem;
  }
  &__intro-p {
    font-family: Avenir;
    font-size: 1rem;
    // line-height: 1.5;
    @include desktop {
      font-size: 1.2rem;
      line-height: 1.7;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
    &-titr {
      font-size: 1.2rem;
      font-weight: 600;
      font-family: Avenir;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $color-blue-100;
      margin: 1rem auto;
      text-align: center;
      @include desktop {
        font-size: 1.4rem;
      }
    }
  }
}
