node_modules/
client-camp-heaven/node_modules/
server/node_modules/

.env
client/.env
server/.env

*.log
client/*.log
server/*.log

client/build/
server/build/

.DS_Store
Thumbs.db


.vscode/
client-camp-heaven/.vscode/
server/.vscode/
