@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.dashboardTopCamp {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: $color-grey-700;
  background-color: #182130;
  padding: 1rem;
  border-radius: 1rem;

  &__img {
    width: 300px;
    height: auto;
    border-radius: 1rem;
  }
}
