@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

.background {
  background-color: #111828;
}
.body {
  display: flex;
}

.NewsMain {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  padding: 3rem;
  column-gap: 1rem;
  justify-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.Newsfigures {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  gap: 1rem;
  margin-bottom: 6rem;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Newsfigure img {
  width: 20rem;
  margin-bottom: 0.2rem;
  @include tablet {
    width: 30rem;
  }
  @include desktop {
    width: 40rem;
  }
}

.Newsfigure {
  width: 15rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(233, 233, 233);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  @include tablet {
    width: 18rem;
    height: 26rem;
  }
  @include desktop {
    width: 20rem;
  }
}
.NewsfigureTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.6rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.Newsfigure h2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  /* Ensure the container can hide overflow and show ellipsis */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Limit to 2 lines */
  max-height: calc(1.8rem * 2); /* Limit the height to two lines */
}
.Newsfigure p {
  font-size: 0.8rem;
  // line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.8rem * 2);
}
.NatImg {
  height: 40%;
  @include tablet {
    height: 50%;
  }
}
.Newsfigure span {
  color: #ccc;
}

.Newsfigure a {
  color: #e1c340;
}
.NewsSideBar {
  grid-column: 2;
  grid-row: 1/-1;
  font-size: 0.8rem;
  line-height: 2;
  padding-left: 0.3rem;
  border-left: 2px solid #e1c340;
  justify-self: start;
  color: $color-grey-700;
  @include tablet {
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 1rem;
    border-left: 2px solid #e1c340;
    justify-self: start;
    color: $color-grey-700;
  }
}
