@font-face {
  font-family: 'titillium';
  src: url('../../assets/Fonts/Titillium_Web/TitilliumWeb-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'titillium';
  src: url('../../assets/Fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../assets/Fonts/AvenirNextLTPro-Regular.otf') format(OpenType);
  src: url('../../assets/Fonts/Alternative/AvenirNextLTPro.ttf')
    format(truetype);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/Fonts/AvenirNextLTPro-Demi.otf') format(OpenType);
  src: url('../../assets/Fonts/Alternative/AvenirNextLTProDemi.ttf')
    format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../assets/Fonts/AvenirNextLTPro-Bold.otf') format(OpenType);
  src: url('../../assets/Fonts/Alternative/AvenirNextLTProBold.ttf')
    format(truetype);
  font-weight: 900;
  font-style: normal;
}
