@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.singleGear {
  font-family: Avenir;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border-bottom: 1px solid $color-grey-200;
  @include desktop {
    font-size: 1.2rem;
  }
  &:hover {
    background-color: $color-blue-100;
    cursor: pointer;
    padding-left: 1rem;
  }
  &.moving {
    animation: fadeInRight 0.5s ease-in-out forwards;
    animation: fadeOutLeft 0.5s ease-in-out forwards;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeOutLeft {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    100% {
      opacity: 1;
      transform: translateX(-50px);
    }
  }
}
