@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.home {
  background-color: #111828;
  color: $color-grey-700;
  width: 100vw;
  height: 100vh;
  &__body {
    display: flex;
    &__main {
      margin: 2rem auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      &-carasoul {
        width: 100%;
        max-width: 80rem;
        border-radius: 1rem;
        border: 3px solid $color-blue-100;
      }
      &-text {
        background-color: #182130;
        font-family: Avenir;
        font-size: 1rem;
        line-height: 1.2;
        padding: 2rem;
        border-radius: 1rem;
        border: 3px solid $color-blue-100;
      }
    }
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 20rem;
  border: 3px solid $color-blue-100;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card__image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__title {
  font-size: 1rem;
  margin: 10px 0;
  color: #333;
  text-align: center;
}
