@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.passwordForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: $color-grey-700;
  background-color: #182130;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 5px red;

  @include desktop {
    max-width: 40rem;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.5rem 0;
    @include tablet {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
    }
    &-p {
      font-size: 1.2rem;
    }
  }
  &__groupBtn {
    display: flex;
    gap: 1rem;
  }
}
