@font-face {
  font-family: "titillium";
  src: url("../../assets/Fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "titillium";
  src: url("../../assets/Fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/src/assets/Fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("/src/assets/Fonts/Alternative/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/src/assets/Fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("/src/assets/Fonts/Alternative/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/src/assets/Fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("/src/assets/Fonts/Alternative/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
/* Indigo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "titillium", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 28px;
  line-height: 36px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4,
label {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h4,
  label {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.body-large {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}
@media (min-width: 768px) {
  .body-large {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.body-medium,
p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .body-medium,
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

::-moz-placeholder {
  font-size: 0.6875rem;
  line-height: 1rem;
}

.body-small,
::placeholder,
button {
  font-size: 0.6875rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  ::-moz-placeholder {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .body-small,
  ::placeholder,
  button {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 75rem;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.login {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/home-page-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login__formWelcome {
  background-color: rgba(121, 246, 246, 0.755);
  margin: 5rem auto auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 95vw;
  gap: 1rem;
  max-width: 80rem;
  padding: 2rem 0.5rem;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .login__formWelcome {
    width: 90%;
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .login__formWelcome {
    grid-template-columns: 1fr 1fr;
    width: 70%;
  }
}
.login__formWelcome-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__formWelcome-txt-logo {
  width: 6rem;
  margin-bottom: 1rem;
  align-self: center;
}
.login__formWelcome-txt-header {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 1280px) {
  .login__formWelcome-txt-header {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}
.login__formWelcome-txt-p {
  display: none;
}
@media (min-width: 1280px) {
  .login__formWelcome-txt-p {
    display: block;
    font-size: 1rem;
    line-height: 2;
  }
}
.login__formWelcome-form {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .login__formWelcome-form {
    width: 70%;
    max-width: 50rem;
  }
  .login__formWelcome-form-links {
    margin-top: 2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }
  .login__formWelcome-form-links-loginForgot {
    display: flex;
    justify-content: space-between;
  }
  .login__formWelcome-form-links-link {
    text-decoration: underline;
    font-size: 1rem;
    color: #3730a3;
  }
  .login__formWelcome-form-links-link:hover {
    cursor: pointer;
    color: #fef9c3;
  }
}

.leftNavDisplay {
  display: none;
}

.login__top-nav {
  display: none;
}