@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.userAccount {
  background-color: #111828;
  color: $color-grey-700;
  width: 100vw;
  height: 100vh;
  &__body {
    background-image: url('../../assets/images/camping-6556226_6401.png');
    display: flex;
    &-main {
      margin: 2rem auto;
      width: 70%;
      display: flex;
      flex-direction: column;

      // align-items: center;
      // gap: 4rem;
    }
  }
}
