@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.pie {
  background-color: #182130;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  color: $color-grey-700;
  &__header {
    align-self: flex-start;
  }
  &__layout {
    display: flex;
    flex-direction: column;
    align-items: end;
    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }
  &__chart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pie2 {
  display: none;
}
.legend1 {
  display: none;
}
