@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;
.mapPage {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.map {
  height: 100%;
  width: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
}
